<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</head>

<body ng-controller="myController">
<div class="container">
    <h2 id="welcomeText">Welcome, <%= username %>!
    </h2>
    <a id="logoutLink" href="/logout">logout</a> | 
    <a id="editLink" href="/user">Edit Contacts</a>
    <hr>
</div>

<div class="container">
    <h3 class="header clearfix"><em>Contact List</em></h3>
    <br>
    <!-- Display the contacts -->
    <table class="table table-hover" style="padding: 1.5em;">
        <thead>
        <tr>
            <th>Name</th>
            <th class="text-center">Phone Number</th>
	    <th class="text-center">Send Message</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact in user.contacts">
            <td>{{contact.name}}</td>
            <td class="text-center">{{contact.phone_number}}</td>
            <td class="text-center" colspan="2">
                <a href ng-click="sendSMS(contact)" style="text-decoration:none;">
                    <span class="glyphicon glyphicon-send"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>

</body>
</html>
