<!doctype html>
<html>

<head>
    <title>User Login and Sessions</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
<div class="form-container">
    <p class="form-header">Login or <a id="signUpLink" href="/signup">Sign Up</a></p>
    <form method="POST" action="/login">
        <label>Username:</label>
        <input type="text" id="username" name="username"><br>
        <label>Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" id="login" value="Login">
    </form>
</div>
<hr>
<span id="loginMsg">
    <%= msg %>
    </span>
</body>

</html>
